@use "../../../../sass/abstract/variables" as *;

.container__createFormModal {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 0.5rem;
}

.container__createFormModal > label {
  font-size: 1rem;
  margin-top: 1rem;
  font-family: "Inria Sans", sans-serif;
}

.container__createFormModal > input {
  height: 30px;

  background: linear-gradient($color-purple, $color-black-grey);

  border-radius: 4px;

  color: $color-white;
  font-family: "Inria Sans", sans-serif;
}

.container__createFormModal > p {
  color: $color-red;
  font-family: "Inria Sans", sans-serif;
}

.container__createFormModal > input::placeholder {
  color: $color-white;
}

.container__createFormModal > button {
  margin: 1rem 0;

  height: 35px;

  border-radius: 4px;
  border: none;

  font-size: 1rem;
  font-weight: 600;

  color: $color-white;
  background: linear-gradient($color-purple, $color-pink);
}
