@use "../../sass/abstract/variables" as *;

.container__dashboardMain {
  margin-top: 6rem;
}

.container__dashboardMain > section {
  background: linear-gradient($color-pink, $color-purple);
  margin: 0 1rem;
  border-radius: 16px;
}
